{# This page represents the base template that all others will extend from. #}
{# It will contain a universal navigation bar, script tags, footers, and other things needed on every page. #}

<!doctype HTML>
<html lang="en">
<head>
	<title>
		{% block title %}RateMyCourse{% endblock %}</title>
	</title>
</head>

<body>
	<header>
		<h1><a href="/">RateMyCourse</a></h1>
	</header>

	{# All of a page's content to display should be placed in here. #}
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>