<div class="row">
    <div class="col-sm-3">
        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
        <div class="review-block-name"><a href="#">{{username}}</a></div>
        <div class="review-block-date">
            {{date_published}}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="review-block-rate">
            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
        </div>
        <div class="review-block-title">
            {{title}}
        </div>
        <div class="review-block-description">
            {{content}}
        </div>
    </div>
</div>